/* estructura estilos css */

/* selector {
    propiedad: valor;
} */

/* Selector Universal, selecciona todos los elementos */
* {
    font-family: sans-serif;
    line-height: 1.5;
    font-weight: normal;
}

.contact-form {
    font-size: 20px;
    
}

.contact-form__h2 {
    font-size: 2em;
    color: rgb(5, 105, 192);
}



